*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.row:after,.menu:after{
    content: "";
    display: block;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    background-color: rgba(255,255, 255, 0.75);
    padding: 25px 0;
}

.logo{
    margin-top: 7px;
}



.menu>li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu>li:last-child{
    border-right: 1px solid #2c71b8;
}

.menu>li>a{
    text-decoration: none;
    display: block;
    height: 50px;
    font-size: 21px;
    font-weight: 3000;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}



.menu>li>a::after{
    display: block;
        content: '\f107';
        font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
        font-weight: 900;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 10px;
        top:1px;
        color:transparent;
}

.menu>li>a:hover{
    color: white;
    background-color: #2c71b8;
}

.menu>li>a:hover::after{
    color: white;
}

.menu>li:hover > a{
    background: #2c71b8;
    color: white;
}


 .search{
    
    height: 40px;
    padding: 4px;
    border: 1px solid #2c71b8; 
    margin-top: 5px;
    position: relative;
}



.input-search-text{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 3000;
    color: #2c71b8;
    background: transparent;
    border:none;
    width: 155px;
    height: 30px;
}

.input-search-text:focus{    
    outline: none;
}

.input-search-text::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 3000;
    color: #2c71b8;
    padding-left: 20px;
}

.input-search-button{
    
    width: 30px;
    height: 30px;
    line-height: 50%;
    background-image: url("images/pngtree-search-icon-image_1344447.jpg");
    background-size: 30px;
    padding: 0;
    border: none;
    position: absolute;
    right: 5px;
}

.shopping-bag{
    
    width: 40px;
    height: 40px;    
    background-color: white;
    padding: 0;
    line-height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
    position: relative;
} 

.products-count{
    color: white;
    position: absolute;
    background-color: #2c71b8;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    top:-10px;
    left: -10px;
}


.submenu{
    background-color: #2c71b8;
    color: white;
    width: 285px;
    position: absolute;
    top:50px;
    visibility: hidden;
}

.submenu>ul>li{
    height: 40px;
    padding-left: 30px;
    line-height: 40px;
    
    
    
}

.submenu>ul>li:hover{
    color:#2c71b8;
    background-color: white;
}

.menu>li>a:hover+.submenu{
    visibility: visible;
}



