*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    margin-right: -15px;
    margin-left: -15px;
}

.row:after,.menu:after{
    content: "";
    display: block;
    clear: both;
}

[class*="col-"]{
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}

.header{
    background-color: rgba(255,255, 255, 0.75);
    padding: 25px 0;
}

.logo{
    margin-top: 7px;
}



.menu>li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}

.menu>li:last-child{
    border-right: 1px solid #2c71b8;
}

.menu>li>a{
    text-decoration: none;
    display: block;
    height: 50px;
    font-size: 21px;
    font-weight: 3000;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}

.submenu-active::after{
    display: block;
        content: '\f107';
        font-family: 'Font Awesome 5 Free', 'Font Awesome 5 Brands';
        font-weight: 900;
        width: 10px;
        height: 10px;
        position: absolute;
        right: 10px;
        top:1px;
        color:#2c71b8;
}

.menu>li:hover{
    color: white;
    background-color: #2c71b8;
}

.menu>li:hover .submenu-active::after{
    color: white;
}

.menu>li:hover > a{
    background: #2c71b8;
    color: white;
}


.search{    
    height: 40px;
    padding: 4px;
    border: 1px solid #2c71b8; 
    margin-top: 5px;
    position: relative;
}


.input-search-text{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 3000;
    color: #2c71b8;
    background: transparent;
    border:none;
    width: 155px;
    height: 30px;
}

.input-search-text:focus{    
    outline: none;
}

.input-search-text::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: 3000;
    color: #2c71b8;
    padding-left: 20px;
}

.input-search-button{    
    width: 30px;
    height: 30px;
    line-height: 50%;
    background-image: url("images/pngtree-search-icon-image_1344447.jpg");
    background-size: 30px;
    padding: 0;
    border: none;
    position: absolute;
    right: 5px;
}

.shopping-bag{
    
    width: 40px;
    height: 40px;    
    background-color: white;
    padding: 0;
    line-height: 50px;
    margin-left: 20px;
    margin-top: 5px;
    text-align: center;
    position: relative;
} 

.products-count{
    color: white;
    position: absolute;
    background-color: #2c71b8;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    top:-10px;
    left: -10px;
}


.submenu{
    background-color: #2c71b8;
    color: white;
    width: 286px;
    position: absolute;
    top:50px;
    left: -1px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
}

.submenu>ul>li{
    height: 40px;
    padding-left: 30px;
    line-height: 40px;    
}

.submenu>ul>li:hover{
    color:#2c71b8;
    background-color: white;
}



.menu>li:hover .submenu{
    opacity: 1;
    visibility: visible;
}


.slider{
    height: 400px;
    color:white;
    font-size: 100px;
    font-weight:250;
    letter-spacing: 10px;
    text-align: center;
    line-height: 400px;
    position: relative;
}

.sliser-spann-left{
    position: absolute;
    left: 0;
}

.sliser-spann-right{
    position: absolute;
    right: 0;
}

.slider-selector{
    position: absolute;
    bottom: 30px;
   left:520px;
}


.slider-selector>div{
    height: 10px;
    width: 10px;
    border: solid 1px white;
    margin: 10px;
     float: left;     
}

.slider-selector>div::after{
    content: "";
    display: block;
    clear: both;
}

.slider-selector-active{
    background-color: white;
}

.slider-place{
    border-bottom: 1px solid white;
}

.breadcrumb{
    margin-top: 30px;
}

.breadcrumbs_item{
    display: inline;
    margin-right: 10px;
    color: rgba(255,255,255,0.5);
    font-size: 14px;
    font-weight: lighter;
}

.breadcrumbs_item:last-child>span{
    text-decoration: underline;
}

.breadcrumb-arrow{
    margin-left: 10px;
}

.poduct-heading{
    margin-top: 15px;
    position: relative;
    
}

.poduct-heading>h1{
    font-size: 48px;
    font-weight: bold;
    color: white;
    width: max-content;
    float: left;
}

.products-sort{
    width: 266px;
    height: 40px;
    padding-left: 20px;
    font-size: 21px;
    position: absolute;
    right: 0;
    border:1px solid white;
    color: white;
    line-height: 40px;
    float: right;
}
.poduct-heading:after{
    content: "";
    display: block;
    clear: both;    
}

.goods-title-inner{
    
    height: 652px;
    border: 1px solid white;
    margin-top: 50px;
    position: relative;
}
.good-photo{    
    height: 182px;
    background-color: rgba(255,255, 255, 0.75);
    position: relative;  
}

.good-photo>img{
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.goods-tile-actions{
    width: 30px;
    height: 70px;
    position: absolute;
    top:10px;
    right: 10px;
}


.goods-tile-actions>div{
    width: 30px;
    height: 30px;          
    background-repeat: no-repeat;
    background-position: center;
    border:1px solid #2c71b8;
}

.zoom-button{        
    background-image: url("images/icon\ \(8\).png");    
}

.zoom-button:hover{
    background-image: url("images/icon\ \(6\).png");
    background-color: #2c71b8;
}

.wish-button{
    margin-top: 10px;
    background-image: url("images/icon\ \(5\).png");
}

.wish-button:hover, .active{
    background-image: url("images/icon\ \(7\).png");
    background-color: #2c71b8;
}

.device-info{
    margin-top: 12px;
    margin-left: 15px;
    color:white;
    line-height: 1.2; 
    font-size: 21px;  
    font-weight: lighter; 
}
.device-info>*{
    margin-bottom: 15px;
}
.device-info>*>span{
    font-weight: bold;
}
.device-info>h1{
    font-size: 30px;
    font-weight: bold;    
}

.device-price{
    font-size: 48px;
    font-weight: bold;
    color:white;
    text-align: center;
    margin-bottom: 15px;
}
sup{
    font-size: 24px; 
    vertical-align:super;
}
.btn{
    width: 210px;
    height: 50px;
    background-color: transparent;
    color: white;
    font-size: 21px;   
    border: 1px solid white;
    margin-bottom: 10px;
    margin-left: 30px;
}

.btn:hover, #filter-btn-submit:hover{
    background-color: rgba(255,255,255,0.25);
    border: none;
}

#load-more{
    color: white;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 90px;
}

.filter{
    height: 845px;
    background-color: rgba(255,255,255,0.20);
    border-right: 1px solid white;
    padding-left: 34px;
    
}

.checkbox-filter-block>h1{
    font-size: 21px;
    font-weight: 700;
    color: white;
}
.checkbox-filter-block{
    padding-top: 30px;
}
.checkbox-filter-block>*{
    margin-bottom: 20px;
}
.filter>.checkbox-filter-block>.checkbox-filter-item>label{
    position: relative;
    padding-left: 22px;
    font-size: 21px;
    font-weight: 300;
    color: white;

}
.filter>.checkbox-filter-block>.checkbox-filter-item>label:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    cursor: pointer;  
    position: absolute;
    left: 0; 
    top:8px;
    box-sizing: border-box;
}

input[type="checkbox"]:checked + label:before {
    background-color: white;
}
input[type="checkbox"] {
    display: none;
}

.show-more{
    font-size: 21px;
    font-weight: 300;
    color: white;
}

#filter-btn-submit{
    width: 210px;
    height: 50px;
    color: white;
    background-color: #2c71b8;
    font-size: 21px;
    font-weight: 700;
    margin-top: 30px;
    border: 1px solid white;
}

.footer{
    height: 100px;
    background-color: rgba(255,255, 255, 0.75);
    color:#2c71b8;
    font-size: 21px;
    font-weight: 300;
    text-align: center;
    line-height: 100px;
}

.modal{
   
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
}

.modal-block{
    
    width: 300px;
    height: 200px;
    background-color: white;
    border:1px solid grey;
    padding: 15px;
    margin: 80px auto;
}
.form-field {
    margin: 10px 0;
}
.form-field input {
    width: 100%;
    height: 30px;
    padding: 5px;
}
.close-btn {
    text-align: right;
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block;
}

.product-quantity{
    margin-left: 26px;
    margin-bottom: 10px;
}

.product-quantity>input{
    text-align: center;
}